<p id="notice"><%= notice %></p>

<h1>Restaurant Menu</h1>

<% @courses.each do |course| %>
    <p><%= course.name %></p>
      <% course.dishes.each do |dish| %>
          <p><%= dish.name %></p>
          <p>Description: <%= dish.description %></p>
          <p>Price: <%= dish.price %></p>
          <%= link_to 'edit', edit_dish_path(dish) %>
      <% end %>
<% end %>

<%= link_to 'New Dish', new_dish_path %>
